<section class="about-scrag">
  <div class="container">
    <div class="about-content row">
      <div class="scrag-info col-md-10 col-lg-7 offset-lg-1" data-bottom-top="transform:translate3d(0px, 0%, 0px)" data-top-bottom="transform:translate3d(0px, 10%, 0px)">
        <h5>About Scrag End</h5>
        <h2>A journal about food, and also a cut of lamb</h2>
        <p>
          Scrag End began as a project of passion of two brothers; one a chef, and the other a designer. Since its founding in 2013, this on-again-off-again project has become a spring board for pop-up dinners, speaking engagements and even a daily paper. Most of all, the project has brought together great food thinkers and doers from around the globe and shaped the way we think about food. Scrag End is ad-free and supported in full by its cover price. It concerns itself with the story of food. It supports slow journalism and authentic voices, often working with non-writers to give its contributors an uncompromising platform and its readers the transparency they deserve. The journal is published in Melbourne, Australia, with content from all corners of the globe. It is designed to be small, light and environmentally sensitive.
        </p>
        <a href="#" class="text-link">Contribute to Scrag End</a>
      </div>
      <div class="scrag-image col-md-7">
        <img src="assets/images/content/scrag-team.jpg" alt="" />
      </div>
    </div>

    <div class="stockist-content row">
      <ul class="stockist-list stockist--aus col-md-6 col-lg-5">
        <li class="title">Australian Stockists</li>
        {% for stockist in site.data.stockists %}
          {% if stockist.type == "Australia" %}
            <li>{{ stockist.name }}, {{ stockist.location }}, {{ stockist.state }}</li>
          {% endif %}
        {% endfor %}
        <li class="link"><a href="mailto:hello@scragend.com" class="text-link">Become an australian stockist</a></li>
      </ul>

      <ul class="stockist-list stockist--int col-md-6 col-lg-5">
        <li class="title">International Stockists</li>
        {% for stockist in site.data.stockists %}
          {% if stockist.type == "International" %}
            <li>{{ stockist.name }}, {{ stockist.location }}</li>
          {% endif %}
        {% endfor %}
        <li class="link"><a href="mailto:hello@scragend.com" class="text-link">Become an international stockist</a></li>
      </ul>
    </div>

  </div>
</section>
