{% assign story = site.stories | sample %}

<section class="next-story">
  <div class="container animation-set">
    <div class="next-story-intro">
      <h5>Another story you may like</h5>
    </div>
    <div class="next-article-container row">

      <figure class="article-component col-md-8 offset-md-2 col-lg-6 offset-lg-3 animated animated--slide-up">
        <div class="image-container">
          <a href="{{ story.url }}">
            <img src="/assets/images/content/{{ story.thumbnail }}" alt="" />
          </a>
        </div>
        <div class="article-info">
          <div class="header">
            <a href="{{ story.url }}"><h3>{{ story.title }}</h3></a>
            <span class="meta">Issue {{ story.issue | capitalize }} — {{ story.contributors[0].name }} — {{ story.read-time }} minute read</span>
          </div>
          <div class="excerpt">
            <p class="small">{{ story.excerpt }}</p>
            <a href="{{ story.url }}" class="secondary-link">Continue reading</a>
          </div>
        </div>
      </figure>

    </div>
  </div>
</section>
