{% assign issue = site.data.issues[page.issue] %}

<section class="purchase-issue container vertical-spaced ">
  <div class="purchase-issue-inner row animation-set">
    <div class="issue-details col-sm-12 col-md-6 col-lg-5 animated animated--no-slide-up" data-delay="200">
      <h2>Purchase Issue {{ issue.number }}</h2>
      <p>
        This story can be found in Issue {{ issue.number }} of Scrag End, the {{ issue.name }}.
      </p>
      <a href="{{ issue.link }}" class="text-link" target="_blank">Purchase issue</a>
    </div>
    <div class="image-stack animated animated--no-slide-up" data-delay="300">
      <img src="/assets/images/content/{{ issue.cover-image.src }}" class="top" alt="{{ issue.cover-image.alt }}" />
      <img src="/assets/images/content/{{ issue.feature-image.src }}" class="bottom" alt="{{ issue.feature-image.alt }}" />
    </div>
  </div>
</section>
