<section id="recent-stories" class="recent-stories page-section">
  <div class="container">
    <div class="recent-stories-container row">
      <div class="recent-stories-intro col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h2>Stories</h2>
        <p>
          An ever-growing collection of long-form stories focused on food and all of its dependencies as told by the chefs, farmers, makers, thinkers and doers concerned with shaping an interesting and sustainable future food movement.
        </p>
        <a href="#" class="view-more text-link">View more stories</a>
      </div>
    </div>
    <div class="stories-grid has-2-columns row">

      {% for story in site.stories %}
        <figure class="article-component col-md-6">
          <div class="image-container">
            <a href="{{ story.url }}">
              <img src="/assets/images/content/{{ story.thumbnail }}" alt="" />
            </a>
          </div>
          <div class="article-info">
            <div class="header">
              <a href="{{ story.url }}"><h3>{{ story.title }}</h3></a>
              <span class="meta">Issue {{ story.issue | capitalize }} — {{ story.contributors[0].name }} — {{ story.read-time }} minute read</span>
            </div>
            <div class="excerpt">
              <p class="small">{{ story.excerpt }}</p>
              <a href="{{ story.url }}" class="secondary-link">Continue reading</a>
            </div>
          </div>
        </figure>
      {% endfor %}
    </div>
  </div>
</section>
